.sliderMainWrap {
    width: 500px;
    overflow: hidden;
    position: relative;
}

.sliderPic {
    width: 500px;
}

.sliderLineWrap {
    display: flex;
    transition: all 1s;
}

.sliderMainPrew {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%) rotate(180deg);
    /* font-size: 30px; */
    color: rgba(255,255,155, 0.84);
    background-color: transparent;
    border: 1px solid rgba(255,255,155, 0.84);
    line-height: 1;
}

.sliderMainForw {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    /* font-size: 30px; */
    color: rgba(255,255,155, 0.84);
    background-color: transparent;
    border: 1px solid rgba(255,255,155, 0.84);
    line-height: 1;
}

.sliderMainPrew, .sliderMainForw {
    cursor: pointer;
    background-color: rgba(0,0,0, 0.54);
}