.aboutPageWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.aboutPageTopIndent {
    display: flex;
    width: 100%;
    height: 100px;
}

.aboutPageCenter {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aboutPageCenterHeaderText {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
}

.aboutPageCenterText {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: justify;
    width: 50%;
}

.aboutPageCards {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.aboutPageCardsHeader {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    height: 50px;
}

.aboutPageCardsWrapp {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    width: 70%;
    height: 400px;
}

.aboutPageCardSingle{
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 150px;
}

.aboutPageCardsIcon {
    display: flex;
    flex-direction: row;
    width: 32px;
    height: 32px;
}

.aboutPageCardSingleHead {
    display: flex;
    flex-direction: row;
    width: 60%;
    height: 35%;
    text-align: start;
    align-items: center;
    font-weight: bold;
}

.aboutPageCardSingleDescription {
    display: flex;
    flex-direction: row;
    width: 100%;
    text-align: start;
    align-items: center;
    color: rgba(169, 169, 169, 0.9);
}

.aboutPageBottomText {
    display: flex;
    flex-direction: column;
}

.aboutPageBottomTextHeader {
    display: flex;
    flex-direction: column;
}

.aboutPageBottomTextText {
    display: flex;
    flex-direction: column;

}