@font-face {
    font-family: "wixVariableBold";
    src: url("../../../Fonts/wixVariable/static/WixMadeforDisplay-Bold.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "wixVariableMedium";
    src: url("../../../Fonts/wixVariable/static/WixMadeforDisplay-Medium.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.boltRymWrap {
    display: flex;
    flex-direction: column;
}

.boltRymTitle {
    display: flex;
    flex-direction: row;
    font-family: "wixVariableBold";
    font-size: 24px;
}
