@font-face {
  font-family: "wixVariableBold";
  src: url("../../../Fonts/wixVariable/static/WixMadeforDisplay-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "wixVariableMedium";
  src: url("../../../Fonts/wixVariable/static/WixMadeforDisplay-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

.loader {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.sverlsWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.sverlsTitle {
  display: flex;
  flex-direction: row;
  font-family: "wixVariableBold";
  font-size: 32px;
  width: 100%;
  height: 60px;
  justify-content: center;
  align-items: center;
}

.sverlsCadrPlaceWrap {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}

.sverlsCadrPlaceCard {
  display: flex;
  flex-direction: column;
  width: 230px;
  height: 350px;
  border: 1px solid rgba(27, 35, 41, 1);
  margin: 5px 5px 5px 5px;
}

.sverlsCadrCardName {
  display: flex;
  justify-content: center;
  font-family: "wixVariableMedium";
  text-transform: uppercase;
  font-size: 16px;
  width: 100%;
  height: 65px;
}

.sverlsCadrCardPic {
  display: flex;
  margin: 0 auto;
  width: 90%;
  height: 175px;
}

.sverlsCadrCardPicPic {
  display: flex;
  width: 100%;
  height: 100%;
}

.sverlsCadrCardDescript {
  display: flex;
  font-family: "wixVariableMedium";
  font-size: 16px;
  width: 90%;
  height: 90px;
  padding: 10px;
}

.sverlsCadrCardPrice {
  display: flex;
  align-items: center;
  font-family: "wixVariableMedium";
  font-size: 18px;
  height: 30px;
  padding: 10px;
  background-color: bisque;
}
