#root {
height: 100%;
}

.contactsWrapper {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
    justify-content: center;
}

.contactsCenterWrap {
    display: flex;
    justify-content:space-between;
}

.contactsTitle {
    display: flex;
    justify-content: center;
}

.contactsAddress {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 300px;
    font-size: 20px;
    border: 1px solid;
}

.contactsMap {
    display: flex;
    flex-direction: column;
    width: 70%;
    height: 500px;
    border: 1px solid;
}