.headWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    background-color: rgba(169, 169, 169, 0.9);
    flex-wrap: nowrap;
    align-items: center;
  
}

.headLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 100%;
}

.headLogoPic {
    display: flex;
    align-items: center;
    width: 20%;
    height: 100%;
    background-image:  url("../HeaderPic/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.headLogoName {
    display: flex;
    width: 70%;
    height: 98%;
    font-size: 45px;
    justify-items: center;
    align-items: center;
}

.headContentSearch {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 45%;
    height: 100%;
}

.headContentSearchInputBox {
    display: flex;
    justify-content: end;
    width: 50%;
    height: 30px;
}

.headContentSearchButtonBox {
    display: flex;
    width: 20%;
    height: 30px;
}

.headContentSearchInputLabel {
    width: 20%;
}

.headContentSearchInputLabel:hover {
    display: flex;
    width: 100%;
    transition: all 700ms ease;
} 



.headCart {
    display: flex;
    width: 20%;
    height: 98%;
    background-image:  url("../HeaderPic/cart.png");
    background-size: 27%;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
}