.headWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 100px;
    border: 1px solid;
    background-color: rgba(169, 169, 169, 0.9);
}

.headLogo {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 40%;
    height: 98%;
    border: 1px dashed blue;
}

.headLogoPic {
    display: flex;
    width: 20%;
    height: 98%;
    background-image:  url("../HeaderPic/logo.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

.headLogoName {
    display: flex;
    width: 70%;
    height: 98%;
    font-size: 45px;
    justify-items: center;
    align-items: center;
}

.headContentRight {
    display: flex;
    flex-direction: column;
    width: 45%;
    height: 98%;
    border: 1px solid;
}

.headContentRightMenuSearchPic {

}

.headContentRightMenuSearch {
    display: flex;
    font-size: 20px;

}

.headCart {
    display: flex;
    width: 20%;
    height: 98%;
    border: 1px dotted red;
    background-image:  url("../HeaderPic/cart.png");
    background-size: 27%;
    background-repeat: no-repeat;
    justify-items: center;
    align-items: center;
}