.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* width: 100%; */
  height: 100%;
}

.pageWrap {
  margin: 0 auto;
  max-width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
}

.leftMenuAndChildWrap {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.ChildWrap {
  display: flex;
  width: calc(100% - 250px);
}
