@font-face {
  font-family: "wixVariableBold";
  src: url("../../Fonts/wixVariable/static/WixMadeforDisplay-Bold.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "wixVariableMedium";
  src: url("../../Fonts/wixVariable/static/WixMadeforDisplay-Medium.ttf")
    format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* #root {
    height: 100%;
    width: 100%;
} */

.paymentWrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* flex-grow: 1; */
  min-height: 100%;
  width: 100%;
  border: 1px solid;
}

.paymentTittle {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 60px;
  font-family: "wixVariableBold";
  font-size: 26px;
}

.paymentCardInfo {
  font-family: "wixVariableMedium";
  font-size: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 70%;
  height: 90px;
}

.paymentCardInfoCredentals {
  display: flex;
  flex-direction: row;
  width: 250px;
  margin-left: 20px;
  border: 1px solid red;
}

.paymentFormikWrap {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 100px;
  margin-top: 20px;
  border: 1px solid rgb(84, 68, 141);
}

.paymentFormicStyle {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px double brown;
}

.paymentFormWrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  height: 90px;
  border: 1px dashed yellowgreen;
}

.inputForm {
  font-family: "wixVariableMedium";
  font-size: 26px;
}
.btnForm {
  font-family: "wixVariableMedium";
  font-size: 26px;
  margin: 0 10px 0 10px;
}

.disableEnable {
}
