@font-face {
    font-family: "wixVariableBold";
    src: url("../../Fonts/wixVariable/static/WixMadeforDisplay-Bold.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "wixVariableMedium";
    src: url("../../Fonts/wixVariable/static/WixMadeforDisplay-Medium.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

#root {
    height: 100%;
}

.stubPageWrapper {
    display: flex;
    flex-direction: column;
    width: 100%;
    flex-grow: 1;
    /* height: 100vh; */
}

.stubHeader {
    font-family: "wixVariableBold";
    display: flex;
    width: 100%;
    height: 300px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}

.stubBodyText {
    font-family: "wixVariableMedium";
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 300px;
    font-size: 22px;
    justify-content: center;
    align-items: center;
    margin: 20px 20px 20px 20px;
}