@font-face {
    font-family: "SofiaSans";
    src: url("../Fonts/sofia_sans/static/SofiaSans-Black.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "SofiaSansMedium";
    src: url("../Fonts/sofia_sans/static/SofiaSans-Medium.ttf") format("truetype"); 
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

.footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    height: 300px;
    background-color: rgba(27, 35, 41, 1);
    color: rgba(250, 250, 250, 1);
}

.footerBlock {
    display: flex;
    flex-direction: row;
    width: 20%;
    height: 250px;
}

.footerBlockLeftBorder {
    display: flex;
    width: 14px;
    height: 100%;
}

.footerBlockRightBorder {
    display: flex;
    width: 14px;
    height: 100%;
}

.footerBlockRightBorderDrawLine {
    border-right: 1px solid rgba(150, 150, 150, 1);
}

.footerBlockCenter {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.footerBlockCenterTitle {
    font-family: "SofiaSans";
    font-size: 16px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 50px;
    color: rgba(150, 150, 150, 1);
}


.footerBlockCenterContent {
    font-family: "SofiaSansMedium";
    font-size: 16px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.footerBlockLink a{
    font-family: "SofiaSansMedium";
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    color: rgba(250, 250, 250, 1);
}
