.footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 90%;
    height: 300px;
    border: 1px solid;
    background-color: rgba(169, 169, 169, 0.1);
}